h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding-top: 1%;
    text-align: center
}

#intro {
    padding-bottom: 5px;
    max-width: 90%;
    text-align: center;
    margin: auto;
}

#textblock {
    max-width: 90%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

body {
    font-family: "Lato", sans-serif;
	margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    display: flex; 
    flex-direction: column;

    color: #fff;
    text-align: center;
}

.container {
    font-weight: 300;
    flex-grow: 1;
}

table {
    margin: auto;
	border-collapse: collapse;
	overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 80%;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: center;
}

thead th {
    background-color: #55608f;
}

tbody th {
    background-color: #767fa5;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

tbody td {
    position: relative;
}
  
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
}

a {
    color: #fff;
}

.secondary {
    font-style: italic;
    color: #e5e5e5;
}

#exhibit * {
    text-decoration: none;
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
}

.footer_main {
    width: 100%;
    padding-bottom: 40px;
}

.footer_main * {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
    
.footer_left {
    width: 49%;
    float: left;
    display: inline;
    top: 0;
}
    
.footer_right {
    width: 49%;
    float: right;
    display: inline;
}

#profile {
    vertical-align: middle;
}

#name {
      vertical-align: middle;
      display: inline;
      padding-left: 10px;
      color: #e5e5e5;
}